<div class="artist-container">
  <div class="banner-top"
    [ngStyle]="{'background-image': 'url(' + artist.images[0].url + ')', 'background-size': 'contain', 'background-position':'center', 'background-color': 'black'}">
    <div class="gradient"></div>
    <h1>
      {{artist.name}}
    </h1>
    <h5>
      Oyentes mensuales:
      {{artist.followers.total }}
    </h5>
  </div>
  <div class="track-widget">
    <h2>Canciones más escuchadas</h2>
    <div class="track" *ngFor="let track of topTracks">
      <p>
        {{track.name}}
      </p>
      <div class="widget">
        <iframe [src]="track.uri | secureDom"  width="300" height="80"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>

  </div>
</div>
